@font-face {  
  font-family: InterVariable;  
  font-style: normal;  
  font-weight: 100 900;  
  font-display: swap;  
  src: url("InterVariable.woff2") format("woff2");  
}  
@font-face {  
  font-family: InterVariable;  
  font-style: italic;  
  font-weight: 100 900;  
  font-display: swap;  
  src: url("InterVariable-Italic.woff2") format("woff2");  
}  
  
@font-feature-values InterVariable {  
  @character-variant {  
    cv01: 1; cv02: 2; cv03: 3; cv04: 4; cv05: 5; cv06: 6; cv07: 7; cv08: 8;  
    cv09: 9; cv10: 10; cv11: 11; cv12: 12; cv13: 13;  
  }  
  @styleset {  
    ss01: 1; ss02: 2; ss03: 3; ss04: 4; ss05: 5; ss06: 6; ss07: 7; ss08: 8;  
  }  
}